* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
}

.reklama {
  width: 100%;
  height: auto;
  border: 0px;
}

.site_header {
  padding: 0 40px;
}

#hero {
  border-radius: 5px;
  position: relative;
  z-index: 101;
  background-color: #fff;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.12);
}

#hero_bottom {
  padding: 0 40px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1370px;
  margin: 0 auto;
  cursor: pointer;
}

.icon {
  width: 92px;
  height: 37px;
}

.nav_list {
  display: flex;
  align-items: center;
  overflow: hidden;
  list-style: none;
}

.nav_item {
  position: relative;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: 23px 18px;
}

.btn {
  font-size: 15px;
  line-height: 120%;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  transform-origin: 50% 0;
  transform: translateY(0);
  display: block;
}

.nav_link {
  color: #000;
}

.nav_link:hover {
  color: blue;
}

.container_link {
  padding: 12px 10px;
  border-radius: 8px;
  background-color: #e7e4e4;
  box-shadow: 0px -10px 44px 0px rgba(0, 0, 0, 0.12);
  text-decoration: none;
  color: #000;
}

.content {
  width: 1370px;
  margin: 0 auto;
}

.conten_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conten_link {
  font-size: 15px;
  line-height: 120%;
  font-weight: 700;
  color: #3b3939;
  margin-bottom: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  transform-origin: 50% 0;
  transform: translateY(0);
  display: block;
}

.conten_link:hover {
  color: blue;
}

#news {
  display: flex;
}

.news_container {
  width: 1370px;
  gap: 30px;
  cursor: pointer;
  margin: 0 auto;
}

.news_contents {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

.news_content {
  padding: 60px 0;
}

.title {
  transition: color 0.2s ease;
  margin-top: 15px;
  font-size: 26px;
  line-height: 120%;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
  width: 400px;
}

.title:hover {
  color: blue;
}

.text {
  font-size: 20px;
  font-weight: 400;
  color: #3b3939;
  margin-bottom: 0px;
  width: 500px;
}

.news_h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

.news_img {
  width: 545px;
  height: 330px;
}

.news_text {
  font-size: 16px;
  line-height: 1.3rem;
  margin-bottom: 5px;
  width: 300px;
  margin-top: 20px;
  color: #000;
  opacity: 100%;
  cursor: pointer;
}

.news_text:hover {
  color: blue;
}

.item {
  font-size: 12px;
  line-height: 120%;
  font-weight: 600;
  color: #9f9f9f;
  margin-bottom: 0;
}

.news_link {
  font-size: 15px;
  display: inline-block;
  align-items: center;
  font-weight: 800;
  color: black;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}

.jahon_container {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  gap: 30px;
}

.jahon {
  display: flex;
  width: 700px;
  margin: 0 auto;
  gap: 100px;
  padding: 10px 0;
}

.news_h3 {
  transition: color 0.2s ease;
  font-size: 22px;
  line-height: 29px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
  margin-top: 6px;
  width: 400px;
}

.news_h3:hover {
  color: blue;
}

.bx_item {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.bx {
  color: blue;
}

img {
  width: 200px;
}

.jahon_content {
  background-color: #e2f1f6;
  padding: 28px 26px 28px 27px;
  transition: transform 0.2s ease;
  position: relative;
  transition: all 0.2s ease;
  z-index: 1;
  box-shadow: 10px 10px 0px 0px transparent;
  width: 300px;
  margin-bottom: 14px;
}

.jahon_content_b {
  background-color: #e2f6eb;
  padding: 28px 26px 28px 27px;
  transition: transform 0.2s ease;
  position: relative;
  transition: all 0.2s ease;
  z-index: 1;
  box-shadow: 10px 10px 0px 0px transparent;
  width: 300px;
  margin-bottom: 14px;
}

.jahon_content_a {
  background-color: #f6eee2;
  padding: 28px 26px 28px 27px;
  transition: transform 0.2s ease;
  position: relative;
  transition: all 0.2s ease;
  z-index: 1;
  box-shadow: 10px 10px 0px 0px transparent;
  width: 300px;
  margin-bottom: 14px;
}

.jahon_title {
  font-size: 20px;
  line-height: 120%;
  font-weight: 800;
  color: #000;
  margin-top: 10px;
  margin-bottom: 19px;
}

.jahon_h3 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  color: #000;
  margin-bottom: 8px;
  margin-top: 8px;
}

.jahon_text {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 0;
  width: 247px;
}

.messages_h3 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 13px;
  margin-top: 15px;
  cursor: pointer;
  padding-left: 40px;
}

#messages {
  display: flex;
  padding: 0 40px;
  gap: 35px;
}

.messag {
  width: 700px;
}

.messag_img {
  width: 720px;
  height: 384px;
  margin-bottom: 10px;
}

.messag_h3 {
  font-size: 25px;
  line-height: 32px;
  font-weight: 700;
  color: #000;
  width: 664px;
  margin-bottom: 8px;
  cursor: pointer;
}

.messag_text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  margin-bottom: 0;
  width: 600px;
  cursor: pointer;
}

.messages_h3:hover {
  color: blue;
}

.messag_h3:hover {
  color: blue;
}

.messag_container {
  width: 312px;
  height: 238px;
  cursor: pointer;
}

.messag_contents {
  width: 312px;
}

.messag_h4 {
  transition: color 0.2s ease;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  color: #000;
  margin-top: 9px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 312px;
}

.messag_h4:hover {
  color: blue;
}

.messages_img {
  width: 312px;
  height: 207px;
}

.messages_container {
  width: 312px;
}

.messages_content {
  width: 312px;
}

#video {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  padding: 0 40px;
  gap: 20px;
}

.video_h4 {
  transition: color 0.2s ease;
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  color: #000;
  width: 192px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.video_h4:hover {
  color: blue;
}

.video_container {
  background-color: #e8e6e6;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  width: 315px;
  height: 440px;
}

.video_content {
  background-image: url(../images/download_9.jpg);
  background-size: 100% 100%;
  width: 327px;
  height: 200px;
}

.item_s {
  font-size: 12px;
  font-weight: bold;
  opacity: 50%;
  width: 79px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding-left: 60px;
}

#articles {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  padding: 0 40px;
  gap: 20px;
}

.article_img {
  width: 327px;
}

.article_container {
  background-color: #e8e6e6;
  cursor: pointer;
  overflow: hidden;
  width: 315px;
  height: 480px;
}

.article {
  display: flex;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
}

.articles_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.article_c {
  display: flex;
  width: 590px;
  justify-content: space-between;
  align-items: center;
}

.article_h3 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 800;
  color: #000;
  margin-bottom: 6px;
}

#subject {
  display: grid;
  gap: 0 40px;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 40px;
}

.subject_container {
  display: flex;
  gap: 17px;
  padding: 22px 0;
  border-bottom: 1px solid;
  cursor: pointer;
}

.subject_h4 {
  transition: color 0.2s ease;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
  margin-top: 7px;
}

.subject_h4:hover {
  color: blue;
}

#caption {
  display: flex;
  margin-bottom: 30px;
  background-color: #3d3d3d;
  padding: 0 40px;
  gap: 85px;
  cursor: pointer;
}

.caption_container {
  width: 239.75px;
  margin-right: 18px;
  flex-shrink: 0;
  position: relative;
  padding: 30px 0 28px 0;
}

.captiona_img {
  width: 325px;
  border-radius: 10px;
}

.h5 {
  -webkit-line-clamp: 5 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  word-break: normal;
  transition: all 0.2s ease;
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.h5:hover {
  color: blue;
}

.footer_site {
  width: 1400px;
  padding: 0 40px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_list{
  display: flex;
  align-items: center;
  overflow: hidden;
  list-style: none;
}
.footer_item{
  position: relative;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: 23px 18px;
}
.nav_link_s {
  color: #242833;
  text-decoration: none;
}

.bxl-telegram {
  color: #000;

}

.bxl-facebook-circle {
  color: #000;

}

.bxl-twitter {
  color: #000;

}

.bxl-instagram {
  color: #000;

}

.footer_img {
  display: flex;
}